absl-py==0.6.1
asn1crypto==0.24.0
astor==0.7.1
blinker==1.4
cachetools==3.0.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
clarifai==2.4.2
Click==7.0
cloudpickle==0.6.1
configparser==3.5.0
cryptography==2.4.2
cycler==0.10.0
dask==0.20.0
decorator==4.3.0
Django==2.1.3
Flask==1.0.2
future==0.17.1
gast==0.2.0
google-api-core==1.5.2
google-auth==1.6.1
google-cloud-core==0.28.1
google-cloud-texttospeech==0.2.0
google-cloud-translate==1.3.1
google-cloud-vision==0.35.0
googleapis-common-protos==1.5.5
grpcio==1.16.0
gunicorn==19.9.0
idna==2.7
image==1.5.27
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.1
networkx==2.2
nibabel==2.3.1
NiftyNet==0.4.0
nltk==3.4
numpy==1.14.5
opencv-python==3.4.3.18
packaging==18.0
pandas==0.23.4
Pillow==5.3.0
protobuf==3.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.2.2
python-dateutil==2.7.5
pytz==2018.6
PyWavelets==1.0.1
PyYAML==3.13
requests==2.20.1
rsa==4.0
scikit-image==0.14.1
scipy==1.1.0
SimpleITK==1.1.0
singledispatch==3.4.0.3
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
textblob==0.15.2
toolz==0.9.0
urllib3==1.24.1
Werkzeug==0.14.1
